<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>Menu</span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>

            </button>
        </mat-toolbar>

        <mat-sidenav-container>

            <mat-divider></mat-divider>
            <img class="parent avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

            <h4 class="name">John Smith</h4>
            <p class="designation">Software Engineer</p>

        </mat-sidenav-container>
        <mat-divider></mat-divider>

        <mat-nav-list>
            <a routerLink="./Listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon>dashboard</mat-icon>
                <span>Resumen</span>
            </a>

            <a routerLink="./Listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon>group</mat-icon>
                <span>Miembros</span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>payment</mat-icon>
                <span>Rodaje </span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>local_gas_station</mat-icon>
                <span>Despacho de combustible</span>
            </a>

            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>card_membership</mat-icon>
                <span>Factura</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>

        </button>
        <!-- <span class="spacer"></span>
        <button mat-button>
            Logout
        </button> -->
        <span class="spacer"></span>


        <div fxFlex fxLayoutAlign="flex-end">
            <ul fxLayout="row">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>

                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </li>
            </ul>

        </div>

    </mat-toolbar>


    <div class="content  mat-elevation-z8">

        <router-outlet>

        </router-outlet>

    </div>
</mat-sidenav-container>